# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=ugc97ccx
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_TOKEN=

# Note: Add your Sanity token here if you need authenticated requests
# You can get this from your Sanity project settings
